<div class="mat-elevation-z5">
  <table mat-table [dataSource]="dataSource">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <ng-container matColumnDef="vesselId">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.vesselId }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" aria-label="Edit" (click)="handleEdit(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="!element.isOnDisplay" mat-icon-button color="primary" aria-label="View" (click)="handleView(element)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button *ngIf="element.isOnDisplay" mat-icon-button color="primary" aria-label="View" (click)="handleView(element)">
          <mat-icon>visibility_off</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Delete" (click)="handleDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 50]"
                 showFirstLastButtons
                 aria-label="Select page of vessels">
  </mat-paginator>
</div>
