<div class="flex-horizontal-align">
  <mat-card class="medium-card">
    <mat-card-header class="mb-d">
      <mat-card-title>Forgot your password?</mat-card-title>
      <mat-card-subtitle>No worries, we will send you a link to reset it.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="flex-column mt-d" [formGroup]="forgottenPasswordForm">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" />
          <mat-error *ngIf="forgottenPasswordForm.controls['email'].hasError('required')">
            Required.
          </mat-error>
          <mat-error *ngIf="forgottenPasswordForm.controls['email'].hasError('email')">
            Not an email.
          </mat-error>
          <mat-error *ngIf="forgottenPasswordForm.controls['email'].hasError('backendValidation')">
            {{ getBackendValidationErrorMessage('email') }}
          </mat-error>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <button type="button" mat-raised-button color="primary" class="mt-d"
        (click)="onSubmit()" [disabled]="isLoading">
        Send link
      </button>
      <a [routerLink]="['/identity/login']" mat-raised-button color="accent" class="mt-d ml-d">Already have an account?</a>
      <a [routerLink]="['/identity/register']" mat-raised-button color="accent" class="mt-d ml-d">Not registered yet?</a>
    </mat-card-content>
  </mat-card>
</div>
