<div class="flex-horizontal-align">
  <mat-card class="medium-card">
    <mat-card-header class="mb-d">
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="flex-column mt-d" [formGroup]="registerForm">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" />
          <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
            Required.
          </mat-error>
          <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
            Not an email.
          </mat-error>
          <mat-error *ngIf="registerForm.controls['email'].hasError('backendValidation')">
            {{ getBackendValidationErrorMessage('email') }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput type="text" formControlName="firstName" />
          <mat-error *ngIf="registerForm.controls['firstName'].hasError('required')">
            Required.
          </mat-error>
          <mat-error *ngIf="registerForm.controls['firstName'].hasError('backendValidation')">
            {{ getBackendValidationErrorMessage('firstName') }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput type="text" formControlName="lastName" />
          <mat-error *ngIf="registerForm.controls['lastName'].hasError('required')">
            Required.
          </mat-error>
          <mat-error *ngIf="registerForm.controls['lastName'].hasError('backendValidation')">
            {{ getBackendValidationErrorMessage('lastName') }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
            Required.
          </mat-error>
          <mat-error *ngIf="registerForm.controls['password'].hasError('backendValidation')">
            {{ getBackendValidationErrorMessage('password') }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
          <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
            Required.
          </mat-error>
          <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('backendValidation')">
            {{ getBackendValidationErrorMessage('confirmPassword') }}
          </mat-error>
        </mat-form-field>
        <mat-checkbox formControlName="hasAcceptedTerms">I have read and accept the terms of use.</mat-checkbox>
      </div>
      <mat-divider></mat-divider>
      <button type="button" mat-raised-button color="primary" class="mt-d"
        (click)="onSubmit()" [disabled]="registerForm.invalid || isLoading">
        Register
      </button>
      <a [routerLink]="['/identity/login']" mat-raised-button color="accent" class="mt-d ml-d">Already have an account?</a>
    </mat-card-content>
  </mat-card>
</div>
